<div class="margin_offset">

	Number of Tweets = <%= @tweets.count %> <br />

	<table border="1">
	<tr>
	<th>ID</th>
	<th>Status</th>
	<th>Zombie Name</th>
	<th>zombie ID</th>
	<th>Created At</th>

	</tr>

	<% @tweets.each do |tweet| %>
		<tr>
		<td><%= link_to tweet.id, tweet %></td>
		<td><%= tweet.status %></td>
		<% if tweet.zombie !nil %>
			<td><%= tweet.zombie.name %></td>
		<% else %>
			<td><%= ' ' %></td>
		<% end %>
		<td><%= link_to tweet.zombie_id, tweet.zombie %></td>
		<td><%= tweet.created_at %></td>
		</tr>
	<% end %>

	</table>

</div>