<div class="container">	
	<div class="margin_offset">
		Number of Zombies = <%= @zombies.count %> <br />

		<table class="table table-striped table-bordered table-condensed">
		<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Graveyard</th>
		<th>Most Recent Tweet</th>
		<th>Number of Tweets</th>
		<th>Created At</th>
		</tr>

		<% @zombies.each do |zombie| %>
			<tr>
			<td><%= link_to zombie.id, zombie %></td>
			<td><%= zombie.name %></td>
			<td><%= zombie.graveyard %></td>
			<% if zombie.tweets.count > 0 %>
				<td><%= zombie.tweets.last.status %></td>
			<% else %>	
				<td><%= ' ' %></td>
			<% end %>
			<td><%= zombie.tweets.count %></td>
			<td><%= zombie.created_at %></td>
			</tr>
		<% end %>

		</table>

	</div>
</dic>