<div class="container">
	<div class="margin_offset">
		<table class="table table-striped table-bordered table-condensed">
		<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Graveyard</th>
		<th>Most Recent Tweet </th>
		<th>Number of Tweets</th>
		<th>Created At</th>
		</tr>
		<tr>
		<td><%= @zombie.id %></td>
		<td><%= @zombie.name %></td>
		<td><%= @zombie.graveyard %></td>
		<% if @zombie.tweets.count > 0 %>
			<td><%= @zombie.tweets.last.status %></td>
		<% else %>
			<td><%= ' ' %></td>
		<% end %>
		<td><%= @zombie.tweets.count %></td>
		<td><%= @zombie.created_at %></td>
		</tr>
		</table>

		<% if @zombie == session[:zombie]%>

			<%= form_for(:tweet, :tweet => {:action => :create}) do |f| %>
					
				Status: <br />
				<%= f.text_area :status, :cols => 35, :rows => 5, :width => '300', :maxlength => 140 %> <br />

				<button class = "btn">Submit Tweet!<% f.submit %></button>
			<% end %>
		<% end %>

		<% if @zombie.tweets.count > 0 %>
			<br /><br />
			All of <%= @zombie.name %>'s Tweets
			<table class="table table-striped table-bordered table-condensed">
			<tr>
			<th>ID</th>
			<th>Status</th>
			<th>Created At</th>
			</tr>

			<% @zombie.tweets.each do |tweet| %>
				<tr>
				<td><%= tweet.id %></td>
				<td><%= tweet.status %></td>
				<td><%= tweet.created_at %></td>
				</tr>
			<% end %>

			</table>

		<% end %>

	</div>
</div>