<!DOCTYPE html>

<html>


<head>
  <title>TwitterForZombies</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if session[:zombie].nil? %>
		You are not currently signed in. 
		<br /><br />
	<% else %>
		You are currently signed in as <%= link_to session[:zombie].name, session[:zombie] %>
		<br /><br />
	<% end %>


	

<%= yield %>

	<br /><br />

	<% if session[:zombie].nil?%>
		<%= link_to "Log In!", sessions_path %>
	<% else %>
		<%= link_to "Log Out!", new_session_path%>
	<% end %>

</body>
</html>

<br />
<br />
<br />


