<!DOCTYPE html>

<html>
<% if session[:zombie].nil? %>
	You are not currently signed in. 
	<br /><br />
<% else %>
	You are currently signed in as <%= link_to session[:zombie].name, session[:zombie] %>
	<br /><br />
<% end %>

<head>
  <title>TwitterForZombies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<br />
<br />
<br />


<% if session[:zombie].nil?%>
	<%= link_to "Log In!", sessions_path %>
<% else %>
	<%= link_to "Log Out!", new_session_path%>
<% end %>